
._README.md
images_and_animations/._Robotic_Thermoplastic_Shape-winding (1).gif
images_and_animations/._Robotic_Thermoplastic_Shape-winding (2).gif
images_and_animations/._Robotic_Thermoplastic_Shape-winding.gif
images_and_animations/._yt_thumbnail01.png
